*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: rgb(102, 51, 153);
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  background-color: white;
  padding: 25px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  width: 420px;
}
form h1{
  color: #222222;
  margin-bottom: 30px;
}
input[type="text"]{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}
textarea{
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}
select{
    width: 110px;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
}
.form-label{
  font-size: 14px;
}
.div-check{
  align-self: flex-start;
}
input[type="checkbox"]{
  margin-right: 5px;
  margin-bottom: 20px;
}
fieldset{
padding: 5px 10px;
 margin-bottom: 20px;
 align-self: flex-start;
}
fieldset label{
  margin-left: 5px;
}
fieldset input{
  margin-bottom: 10px;
}
.div-sel{
  align-self: flex-start;
  margin-bottom: 20px;
}
form button{
  width: 100%;
  padding: 10px 5px;
  background-color: rgb(102, 51, 153);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  transform: scale(1);
  transition: background-color 300ms 150ms ;
}
form button:hover{
  background-color: rgb(54, 17, 92);
  display:  block;
}