*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #639;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  width: 420px;
}
input[type="text"]{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}
textarea{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}
.form-label{
  font-size: 14px;
}
.div-check{
  align-self: flex-start;
}
input[type="checkbox"]{
  margin-right: 5px;
  margin-bottom: 20px;
}
fieldset{
  padding: 5px;
 margin-bottom: 20px;
 align-self: flex-start;
}
.div-sel{
  align-self: flex-start;
  margin-bottom: 20px;
}
button{
  width: 100%;
  padding: 5px;
}